<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
</head>

<body>

    <div id="app">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form" @submit.prevent="filter(filterValue)">
                    <input type="text" class="search-field" v-model="filterValue">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search" ></i>
                    </button>
                </form>
                <button class="btn-cart" type="button" @click='isVisibleCart = !isVisibleCart'>Корзина</button>
                <div class="cart-block" v-if='isVisibleCart'>
                    <p v-if="!cartItems.length">Cart is empty</p>
                    <div class="cart-item" v-for="product of cartItems" :key="product.id_product">
                        <img :src="imgCatalog" alt="Some img">
                        <div class="desc">
                            <h3>{{product.product_name}}</h3>
                            <p>Цена: {{product.price}} $</p>
                            <p>Количество: {{ product.quantity }}</p>
                            <dvi class="desc-price">Стоимость: {{product.price * product.quantity }}</dvi>
                            <button class="buy-btn" @click="addProduct(product)">Купить</button>
                            <button class="del-btn" @click="removeProduct(product)">X</button>
                        </div>
                    </div>
                </div>

            </div>
        </header>
        <main>
            <div class="products">
                <div class="product-item" v-for="product of filtered" :key="product.id_product">
                    <img :src="imgCatalog" alt="Some img">
                    <div class="desc">
                        <h3>{{product.product_name}}</h3>
                        <p>{{product.price}} $</p>
                        <button class="buy-btn" @click="addProduct(product)">Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- <header>
        <form action="#" class="search-form">
            <input type="text" class="search-field">
            <button class="btn-search" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <buttton class="feedback-btn">Обратная связь</buttton>
        <button class="btn-cart" type="button">Корзина</button>

    </header>
    <main>
        <div class="products"></div>
        <div class="cart invisible"></div>
        <div class="feedback invisible">
            <form action="submit" class="feedback-form">
                <p>Name<input type="text" class="name" value="Name"></p>
                <p>Phone<input type="number" class="phone" value="+7(000)000-0000"> </p>
                <p>E-mail<input type="email" class="E-mail" value="yourmail@addr.com"></p>
                <p>Your message<textarea name="textarea" id="333" cols="53" rows="5"></textarea></p>
                <div class="form-btn"><button type="submit">Отправить</button></div>

            </form>
        </div> -->
    </main>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>