* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 50px;
  background-color: grey;
  min-height: 66px;
}

header .btn-cart {
  position: relative;
  max-width: 175px;
  max-height: 55px;
  font-size: 28px;
  cursor: pointer;
  margin-left: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

header .btn-cart:hover {
  -webkit-box-shadow: 0 0 10px 3px #33f5cb;
          box-shadow: 0 0 10px 3px #33f5cb;
}

main {
  max-width: 100%;
  background-color: #eafaf9;
}

main .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

main .products .product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 250px;
  height: 377px;
  border: 1px solid #05d8cd;
  border-radius: 12px;
  margin: 50px 35px 10px;
  padding: 7px;
  background-color: #33f5cb;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-shadow: 5px -5px 10px #04b8af;
          box-shadow: 5px -5px 10px #04b8af;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

main .products .product-item h3 {
  font-size: 30px;
}

main .products .product-item img {
  max-width: 95%;
  max-height: 65%;
}

main .products .product-item p {
  font-size: 32px;
  font-weight: 300;
  position: absolute;
  bottom: 38px;
  right: 15px;
  color: #c70f36;
}

main .products .product-item .buy-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 22px;
  font-weight: 400;
  background-color: rgba(212, 16, 16, 0.74);
  cursor: pointer;
}

main .products .product-item .buy-btn:hover {
  -webkit-box-shadow: inset 0 0 7px 3px #33f5cb;
          box-shadow: inset 0 0 7px 3px #33f5cb;
}

main .products .product-item .add-btn,
main .products .product-item .remove-btn {
  width: 35%;
}

main .products .product-item .product-quantity {
  width: 20px;
}

.cart {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 6%;
  right: 6%;
  max-width: 380px;
}

.cart .product-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  background-color: #04e499;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cart img {
  max-width: 50px;
}

.cart .product-name {
  margin: 0 5px;
}

.cart .price {
  color: #f50b0b;
}

.cart .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  font-weight: bold;
  border-top-right-radius: 10px;
}

.cart .delete-btn:hover {
  color: #eafaf9;
}

.cart .add-btn,
.cart .remove-btn {
  width: 14%;
  height: 14%;
  font-size: 25px;
}

.cart .add-btn:hover,
.cart .remove-btn:hover {
  background-color: rosybrown;
}

.invisible {
  display: none;
}
/*# sourceMappingURL=style.css.map */